<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.xing.dao.PayMentDao">

    <resultMap id="BaseResultMap" type="com.xing.entity.PayMent">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <id column="serial" property="serial" jdbcType="VARCHAR"/>
    </resultMap>
    
    <sql id="base_cloum_list">
        id,serial
    </sql>

    <insert id="add" parameterType="com.xing.entity.PayMent" useGeneratedKeys="true" keyProperty="id">
        insert into pay_ment(serial)  values(#{serial});
    </insert>

    <select id="getPayMentById" parameterType="integer" resultMap="BaseResultMap">
        select <include refid="base_cloum_list"/> from pay_ment where id=#{id};
    </select>

    <select id="selectGenerateSequence" resultType="string" flushCache="true">
    SELECT F_SYS_GET_SEQID_TEST3(#{platId},#{seqTypeId});
  </select>

    <select id="call" parameterType="map" flushCache="true" statementType="CALLABLE">
      call F_SYS_GET_SEQID_TEST3(
            #{map.asPlatId,mode=IN,jdbcType=VARCHAR},
            #{map.asSeqTypeID,mode=IN,jdbcType=VARCHAR},
            #{map.seqNum,mode=OUT,jdbcType=VARCHAR}
         )
  </select>

</mapper>